<h1>Editing song</h1>

<input type="hidden" id="playlist_id" value="<%= @playlist.id %>" />
<div class="row">
  <div class="small-12 large-6 columns">

    <%= form_for([@playlist, @song]) do |f| %>
      <% if @song.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

          <ul>
          <% @song.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :artist %><br>
        <%= f.text_field :artist %>
      </div>
      <div class="field">
        <%= f.label :genre %><br>
        <%= f.text_field :genre %>
      </div>
      <div class="actions">
        <%= f.submit 'Submit', class: 'button' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Show', [@playlist, @song] %> |
<%= link_to 'Back', playlist_songs_path(@playlist) %>
